<p>
  <strong>Title:</strong>
  <%= @essay.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @essay.author %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @essay.text %>
</p>


<%= link_to 'Edit', edit_essay_path(@essay) %> |
<%= link_to 'Back', essays_path %>